<!-- <div class="container">
        <div class="row">
  
                <div class="col-lg-8 col-lg-offset-2">
        
    
    <div class="row heading">
        <h2 class="sub-heading">Specialization</h2>
    </div>
    
    <div class="container-fluid" id="inventory">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                     
                        <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                        <button class="btn view-btn">Cardiologist </button>
                        
                     
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn view-btn">Dentist</button>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn view-btn">Dietician</button>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn btn-danger view-btn">Physiotherapist</button>               
                    
                </div>
            </div>
    
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn view-btn">Surgeon</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn btn-danger view-btn">Dermatologist</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn btn-danger view-btn">Neurologist </button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                    <button class="btn  view-btn">Gynecologist </button>               
                </div>
            </div>
    
        </div>
    
        <div class="row mt-5">
                <div class="col-md-3">
                    <div class="card">
                        <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                        <button class="btn view-btn">Pediatrician</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                        <button class="btn btn-danger view-btn">Psychiatrist </button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                        <button class="btn btn-danger view-btn">Nephrologist</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="img-fluid" src="/assets/images/bg.jpg" alt="Card image cap">
                        <button class="btn  view-btn">Allergist</button>               
                    </div>
                </div>
        
            </div>



    
    </div>
                </div>
                </div>
    
    </div> -->


    <div class="container">
        
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/den.jpeg	);" class="image-grid-cover">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Dentist</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/neur.jpeg	);" class="entry-cover image-grid-cover has-image">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Neurologist</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/phy.jpeg	);" class="entry-cover image-grid-cover has-image">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Physiotherapist</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/gyn.jpg);" class="entry-cover image-grid-cover has-image">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Gynacologist</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/car.jpg	);" class="entry-cover image-grid-cover has-image">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Cardiologist</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                            <div style="background-image: url(/assets/images/diet.jpg	);" class="entry-cover image-grid-cover has-image">
                                                <a href="#" class="image-grid-clickbox"></a>
                                                <a href="#" class="cover-wrapper">Dietician</a>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                                <div style="background-image: url(/assets/images/derm.jpg	);" class="entry-cover image-grid-cover has-image">
                                                    <a href="#" class="image-grid-clickbox"></a>
                                                    <a href="#" class="cover-wrapper">Dermatologist</a>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                                    <div style="background-image: url(/assets/images/nep.jpg	);" class="entry-cover image-grid-cover has-image">
                                                        <a href="#" class="image-grid-clickbox"></a>
                                                        <a href="#" class="cover-wrapper">Nephrologist</a>
                                                    </div>
                                                </div>
                                    <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                                        <div style="background-image: url(/assets/images/psyc.jpg	);" class="entry-cover image-grid-cover has-image">
                                            <a href="#" class="image-grid-clickbox"></a>
                                            <a href="#" class="cover-wrapper">Psychiatrist</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
            </div>
            